<div
      class="min-h-screen flex justify-center items-center flex-col gap-4 w-full"
    >
      <!-- @if (errorMessage) {
      <app-alert [text]="errorMessage" type="error" />
      } -->
      <form
        (submit)="edit($event)"
        [formGroup]="editForm"
        class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box"
      >
        <legend class="fieldset-legend">Edit</legend>

        <label class="fieldset-label">Email</label>
        <input formControlName="email" type="email" class="input" />

        <label class="fieldset-label">Username</label>
        <input formControlName="username" type="text" class="input" />

        <button class="btn btn-neutral mt-4" type="submit">Edit</button>
      </form>
    </div>