<div class="container mx-auto p-4 lg:p-10">
  <div class="flex flex-col lg:flex-row gap-8 shadow-xl rounded-lg overflow-hidden">

    <!-- Detalles de Compra -->
    <section class="w-full lg:w-3/4 bg-white p-6 lg:p-10">
      <header class="flex justify-between items-center border-b pb-4 mb-6">
        <h2 class="text-2xl font-bold text-gray-800">Detalles de la compra</h2>
        <span class="text-lg text-gray-600">{{cartItems().length}} Artículos</span>
      </header>

      <div class="mb-4 overflow-auto flex-1 text-black">
        @for (item of cartItems(); track $index) {

        <ul class="list rounded-box">
          <li class="list-row flex items-center justify-between">
            <div class="flex items-center gap-4">
              <img [src]="item.images[0].url" alt="Blog 1" class="object-cover h-15 w-15 rounded-md" />
              <div class="flex flex-col max-w-3xl flex-wrap">
                <h3 class="font-semibold">{{item.name}}</h3>
                <p class="text-sm text-gray-500 line-clamp-2">{{item.description}}</p>
              </div>
            </div>
            <div class="flex flex-col items-end">
              <p class="">
                <span class="font-semibold text-gray-700">
                  {{item.price | currency: 'USD'}}
                </span>
                x
                <span class="text-sm text-gray-600">
                  {{item.quantity}}
                </span>
              </p>
            </div>
          </li>
        </ul>

        }
        @empty {
        <h1>No has agregado nada a tu carrito de compras</h1>
        }

      </div>


      <!-- Información de pago -->
      <div class="mt-10 text-black">
        <h3 class="text-2xl font-bold text-gray-800 mb-6">Información de Pago</h3>

        <div class="space-y-4">
          <input type="text" placeholder="Nombre Completo"
            class="w-full px-4 py-3 border rounded-md focus:ring-2 focus:ring-blue-500" />
          <input type="email" placeholder="Correo Electrónico"
            class="w-full px-4 py-3 border rounded-md focus:ring-2 focus:ring-blue-500" />
          <input type="text" placeholder="Número de Tarjeta"
            class="w-full px-4 py-3 border rounded-md focus:ring-2 focus:ring-blue-500" />

          <div class="flex gap-4">
            <input type="text" placeholder="MM/AA"
              class="w-1/2 px-4 py-3 border rounded-md focus:ring-2 focus:ring-blue-500" />
            <input type="text" placeholder="CVV"
              class="w-1/2 px-4 py-3 border rounded-md focus:ring-2 focus:ring-blue-500" />
          </div>
        </div>
      </div>
    </section>

    <!-- Resumen de Orden -->
    <aside class="w-full lg:w-1/4 bg-gray-50 p-6 lg:p-10">
      <h2 class="text-2xl font-bold border-b pb-4 mb-6 text-gray-800">Resumen de la Orden</h2>

      <div class="space-y-2">
        <div class="flex justify-between text-gray-700">
          <span>Subtotal</span>
          <span>{{shoppingCartService.getTotal()|currency:'USD'}}</span>
        </div>
        <div class="flex justify-between text-gray-600 text-sm">
          <span>Envío</span>
          <span>USD 5.00</span>
        </div>
      </div>

      <div class="border-t mt-6 pt-6">
        <div class="flex justify-between font-bold text-lg text-gray-800">
          <span>Total</span>
          <span>{{shoppingCartService.getTotal()|currency:'USD'}}</span>
        </div>
        <p class="text-sm text-gray-500 mt-2">Incluye IVA</p>
      </div>

      <button class="mt-6 w-full bg-blue-600 hover:bg-blue-700 text-white py-3 rounded-md text-lg font-semibold">
        Pagar Ahora
      </button>
      <button class="mt-6 w-full bg-red-600 hover:bg-red-700 text-white py-3 rounded-md text-lg font-semibold"
        (click)="openDeleteConfirmationDialog()">
        Vaciar carrito de compras
      </button>

      <p class="text-sm text-gray-500 text-center mt-4">Su información de pago está segura.</p>
    </aside>
  </div>
</div>