<div class="h-full flex justify-center items-center flex-col gap-4">
    @defer (when user$()) {
    <div class="hero bg-base-200 min-h-screen w-full">
      <div class="hero-content flex-col lg:flex-row">
        <div>
          <h1 class="text-5xl font-bold">{{ user$()?.username }}</h1>
          <p class="py-6">
            email: {{ user$()?.email }}
            <br />
            created at: {{ user$()?.createdAt }}
            {{ user$()?.jwt }}
          </p>
          <a [routerLink]="[profileRoutesConfig.children.edit.url]" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
    }
  </div>
`