<form [formGroup]="formGroup()" (ngSubmit)="OnSubmit()"
    class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">{{title()}}</legend>

    <div *ngFor="let field of inputFields()">
        <div>

            <label class="fieldset-label">{{field.label}}</label>

            <div class="relative">
                <input [formControlName]="field.name"
                    [type]="field.type === 'password' && showPassword ? 'text' : field.type"
                    [placeholder]="field.placeholder"
                    [ngClass]="{'input-secondary': formGroup().controls[field.name].invalid && formGroup().controls[field.name].touched}"
                    [autocomplete]="field.autocomplete" class="input" />


                @if (field.type === 'password') {

                <label class="swap absolute right-3 top-3">
                    <input type="checkbox" [value]="showPassword" (change)="togglePasswordVisibility()" />
                    <mat-icon class="swap-on">visibility</mat-icon>
                    <mat-icon class="swap-off">visibility_off</mat-icon>
                </label>

                }

            </div>
        </div>
        <small class="text-secondary" style="font-size: 14px;">
            {{ getErrorMessage(field) }}
        </small>
    </div>

    <button class="btn btn-neutral mt-4" type="submit" [disabled]="formGroup().invalid">
        {{btnSubmitLabel()}}
    </button>

</form>