/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@font-face {
    font-family: 'Heavitas';
    src: url('./app/assets/fonts/Heavitas.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Feelin';
    src: url('./app/assets/fonts/Feelin_Teachy_TTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font-primary {
    font-family: 'Heavitas', sans-serif;
}

.font-secondary {
    font-family: 'Feelin', sans-serif;
}

@theme {
    --color-primary-color: #1d1d1d;
    --color-secondary-color: #eca500;
    --color-footer-text: #ffffff;
    --color-footer-text-secondary: #aaaaaa;
    --color-footer-border: #333333;
    
    --font-feelin:  url('./app/assets/fonts/Feelin_Teachy_TTF.woff2') format('woff2'), 'Feelin', sans-serif;
}


::view-transition-old(root){
    animation: fade-out 0.4s ease;
}
@keyframes fade-out {
  from { 
    left: 0;
   }
  to { left: 100%; }
}
::view-transition-new(root) {
  animation: fade-in 0.4s ease;
}

@keyframes fade-in {
  from { 
    left: -100%;
   }
  to { left: 0; }
}